body {
    background: url(/Photo/otzyv.png) center center / cover no-repeat;
    padding: 80px 0;
    position: relative;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
img {
max-width: 100%;
height: auto;
display: block;
}

.review-inner {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    background: rgba(32, 17, 9, 0.85); 
    border-radius: 15px;
    padding: 40px 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    color: #d3850f; 
    backdrop-filter: blur(2px);
}


.review-inner h2 {
    font-size: 36px;
    color: #6e3a1e; 
    margin-bottom: 25px;
    text-align: center;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
}

.review-inner h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #c47b5b;
    margin: 10px auto 0;
    border-radius: 2px;
}



.review-form label {
    color: #5b3921;
    font-weight: 600;
}

.review-form input,
.review-form select,
.review-form textarea {
    background-color: #8d7a6099;
    border: 1px solid #caa87f;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.review-form textarea {
    resize: vertical;
}

.review-form button {
    display: block;
    width: 100%;
    background-color: #c47b5b;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.review-form button:hover {
    background-color: #a85d43;
}

.average-rating {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    color: #5a3c2c;
}

.review-list {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.review-list li {
    background-color: #6a5b3e76;
    border-left: 5px solid #c47b5b;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.review-list li strong {
    color: #0000007b;
    font-size: 16px;
}

.review-list li p {
    margin: 8px 0 0;
    color: #3c3c3c;
    font-size: 15px;
}
